
a{
  text-decoration: none;
}
.link-icons > a{
  font-size: 2rem;
  margin: 20px 10px;
  color: black;
}

.header{
  font-weight: 700;
  margin: 20px 0px;
  text-align: left;
}

.about{
  font-weight: 300;
  font-size: 17px;
  p{
    text-align: left;
    margin: 20px 0px;
  }
}

.homepg-contents{
  width: 60vw;
  margin: 0 auto;
}