.workpg-contents,.projects{
  text-align: left;
}
.workplace,.name{
  font-size: 18px;
  font-size: 800;

}
.links{
  margin-top: 20px;
  margin-bottom: 30px;
  p{
    margin: 0;
  }
}

.projects,.workpg-contents{
  width: 60vw;
  margin: 0 auto;
}

.text{
  font-size: 16px;
  font-weight: 300;
}

.role{
  margin: 0px 0px 10px;
  font-size: 12px;
  font-weight:300;
}